body {
    width: 300px;
    min-height: 100px;
    border: 1px solid grey;
    margin: 0px;
    padding: 1px;
}
#btn-left {
    margin-left: 10px;
}
a {
    display: inline-block;
    width: 48px;
    margin: 0 5px;
    font-size: 12px;
}
#btn-right {
    margin-right: 20px;
}
#btn-random {
    position: absolute;
    left: 220px;
    top: 2px;
    margin: 0px;
    font-size: 13px;
}
#jeck {
    margin: 2px;
    padding: 2px;
    border: 1px dotted grey;
}
#date {
    margin: 0px;
    font-size: 12px;
    color: grey;
}
